/* import the necessary Bootstrap files */
// @import "bootstrap/functions";
// @import "bootstrap/variables";

/* finally, import Bootstrap */
$theme-colors: (
  "primary": #001529,
  "border-color": rgba(255, 255, 255, 0.5) 
);

// $container-max-widths: (
//   sm:100%,
//   md:100%,
//   lg:100%
// );

$border: (
  border:  1px solid rgba(255, 255, 255, 0.5)
);

$primary: #001529;
$danger: red;
$body-bg: #F0F0F0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";